/* App.css */

body {
  background-color: #d4d4d4;
  padding-top: 30px;
}

button {
  outline: none;
  cursor: pointer;
}

.contact-container {
  width: 440px;
  padding: 32px;
  margin: 0px auto;
}

.search-input {
  height: 37px;
  background-color: white;
  border-radius: 4px;
  padding-left: 9px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 2px solid #dfe4ea;
}

.search-input input {
  width: 100%;
  overflow: hidden;
  border: 0px;
}

.search-input input:focus {
  outline: none;
}

.search-icon {
  padding-right: 15px;
  padding-left: 10px;
  color: #979cb0;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact {
  height: 104px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
}

.contact-avatar {
  height: 72px;
  width: 72px;
  border-radius: 36px;
  margin-left: 17px;
  flex-shrink: 0;
}

.contact-avatar img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 36px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  height: 50px;
  justify-content: space-between;
  color: #4a4f57;
}

.contact-name {
  font-size: 15px;
  font-weight: bold;
}

.contact-phone {
  font-size: 14px;
}

.contact-buttons {
  width: 72px;
  height: 44px;
  margin-left: 3px;
}

.contact-buttons button {
  width: 100%;
  height: 100%;
  background-color: #72db63;
  border: 1px solid #81c877;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.contact-new {
  display: flex;
  justify-content: center;
}

.contact-new button {
  background-color: transparent;
  border: 0px;
  font-size: 15px;
}

.contact-button-close {
  align-self: flex-start;
  padding-top: 3px;
  padding-right: 3px;
  color: #979cb0;
  cursor: pointer;
  font-size: 10px;
}

button[disabled] {
  cursor: not-allowed;
}
